<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <!-- <button id="btn">按钮</button> -->
    <main>
        <div>登录存储浏览器</div>
        <div>
            <aside id="content">
                <!-- <i id="state.id">${state.name}</i> -->
                <!-- <span class="cont-span"></span> -->
            </aside>
            <aside>
                <article id="jdt"></article>
            </aside>
        </div>
    </main>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/state.js"></script>
    <script src="../js/content.js"></script>
    <script src="../js/模块.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>