<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <!-- 难度选择 -->
    <div class="difficulty" id="dif">
        <div class="dif-top">
            <div class="dif-cont" data-id="1">
                简单
            </div>
            <div class="dif-cont" data-id="2">
                普通
            </div>
            <div class="dif-cont" data-id="3">
                一般
            </div>
            <div class="dif-cont" data-id="4">
                困难
            </div>
        </div>
        <div class="checkbox">
            <div><input type="checkbox" name="dif" id="" value="1">数字</div>
            <div><input type="checkbox" name="dif" id="" value="2">小写字母</div>
            <div><input type="checkbox" name="dif" id="" value="3">大写字母</div>
            <div><input type="checkbox" name="dif" id="" value="4">符号</div>
        </div>
    </div>
    <main>
        <div>黑白无常练字打大法</div>
        <div>
            <aside id="content">
            </aside>
            <aside>
                <article id="progress_bar_id"></article>
            </aside>
        </div>
    </main>
    <div class="login">
        <div class="login-register state-login">
            <a href="#">登录 </a>
            <i> / </i>
            <a href="#"> 注册</a>
        </div>
        <div class="user active">
            <div class="user-header">
                <span class="userImg"><img src="#" alt=""></span>
                <span class="nickname">昵称 ：112233</span>
                <i id="header-i" class="user-header-i active"></i>
            </div>
            <div class="user-content">
                <div>
                    <span class="user-content-l">LV : </span>
                    <span class="user-content-r">60 级</span>
                </div>
                <div>
                    <span class="user-content-l">进度</span>
                    <span class="user-content-r"> 0</span>
                </div>
                <div class="user-cj">
                    <span class="user-content-l">
                        成就
                        <span></span>
                    </span>
                    <span class="user-content-r"><i class="user-content-i" id="acmt-i"
                            style="margin-left: 30px;"></i></span>
                </div>
                <div class="user-gr">
                    <span class="user-content-l">
                        个人信息
                        <span></span>
                    </span>
                    <span class="user-content-r"><i class="user-content-i" id="user-i"></i></span>

                </div>
            </div>
            <span class="log-out">退出登录</span>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/content.js"></script>
    <script src="../js/function.js"></script>
    <script src="../js/state.js"></script>
    <script src="../js/index.js"></script>
    <script src="../server/login.js"></script>
    <script src="../server/register.js"></script>
</body>

</html>